$clr-white: #fff;
$clr-light: #f3fbfb;
$clr-grey-1: #9fb3ba;
$clr-grey-2: #748388;
$clr-accent: #49a6e9;
$clr-black: #222;
$font: "Commissioner", sans-serif;
$font-cursive: "Henny Penny", cursive;
$transition: all 0.3s ease-out;
$radius: 0.5rem;
$spacing: 0.2rem;
$shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
